:root {
  --bg-primary-300: #bea4fe;
  --bg-primary-400: #a476fa;
  --bg-primary-500: #703ff8;
  --bg-primary-600: #1c64f2;
  --bg-primary-700: #4e1adb;
  --bg-primary-800: #431e9f;
  --bg-primary-900: #3d2376;
  --bg-primary-1000: #1e193a;
  --bg-primary-1050: #15222e;
  --bg-primary-1100: #060b13;
  --bg-primary-anim: #233876;
  --bg-primary-transparent: rgba(35, 52, 68, 0.4);
  --bg-dark: #151e27;
  --bg-dark-accent: #222c3a;
  --bg-dark-accent-light: #2e3e53;
  --bg-dark-accent-lighter: #68798a;
  --success: #2db09a;
  --error: #f03863;
  --warning: #fd8c22;
  --info: #b3ddff;
  --text-color: white;
}

.bg-error {
  background: var(--error);
}
.bg-warning {
  background: var(--warning);
}
.bg-info {
  background: var(--info);
}
.bg-success {
  background: var(--success);
}

.bg-primary-300 {
  background: var(--bg-primary-300);
}
.bg-primary-400 {
  background: var(--bg-primary-400);
}
.bg-primary-500 {
  background: var(--bg-primary-500);
}
.bg-primary-600 {
  background: var(--bg-primary-600);
}
.bg-primary-700 {
  background: var(--bg-primary-700);
}
.bg-primary-800 {
  background: var(--bg-primary-800);
}
.bg-primary-900 {
  background: var(--bg-primary-900);
}
.bg-primary-1000 {
  background: var(--bg-primary-1000);
}
.bg-primary-1050 {
  background: var(--bg-primary-1050);
}
.bg-primary-1100 {
  background: var(--bg-primary-1100);
}
.bg-primary-transparent {
  background: var(--bg-primary-transparent);
}
.bg-dark {
  background: var(--bg-dark);
}
.bg-dark-accent {
  background: var(--bg-dark-accent);
}
.bg-dark-accent-light {
  background: var(--bg-dark-accent-light);
}